* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.home {
  width: 100%;
  background-size: cover;
  align-items: center;
}
.message {
  padding-top: 8vw;
  padding-left: 2vw;
  height: 40vh;
}
.message p {
  display: flex;
  color: white;
}

